body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el alto completo de la ventana */
    margin: 0;
    border: 1px solid #ddd; /* Agrega un borde gris alrededor de la página */
}

footer a {
    color: #007bff; 
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0056b3; 
}
