body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    border: 1px solid #ddd; 
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: rgba(255, 255, 255, 0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.titulo {
    color: #0004ff; 
    font-size: 60px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.textLi {
    color: #333; 
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.textLi:hover {
    text-decoration: underline;
}
footer{
    align-items: center;
    background: linear-gradient(rgb(112, 112, 114),rgb(102, 102, 116), ,rgb(75, 75, 116),,rgb(36, 36, 112));
}

footer a {
    color: #007bff; 
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0056b3; 
    text-decoration: underline;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.acordion{
    width: 80%;
}

